#tutorialDiv{
	width: 80%;
	height: 100%;
	position: relative;
	left: 10%;
}

#tutorialDiv h2, li{
	text-align: center;
}

#tutorialDiv li{
	list-style: none;
}

#tutorialDiv a{
	margin: 0 auto;
	text-align: center;
	background-color:#181818;
	font-family:"Times New Roman", Times, serif;
	padding:10px;
	width:180px;
	color:#ffffff;
	text-decoration:none;
	text-transform:uppercase;
	position: relative;
	display: block;
}

#tutorialDiv a:hover{
	color:white;
	background-color:#383838;
}